/* ========================
 table of contents
===========================
1. Left Section ==> Buttons
2. Right Section ==> Card
3- Responsive Design (media query)*/

main.flex {
    align-items: start;
    gap: 2.64rem;
}

/* ===============================
   1. Left Section ==> Buttons
================================== */

main section.left-section.flex {
    flex-direction: column;
    gap: 10px;
}
main section.left-section.flex button {
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    padding: .75rem 0;
    text-align: center;
    border-radius: 5px;
    font-size: 1.05rem;
    opacity: 0.8;
    cursor: pointer;
    color: var(--subtitle);
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}
main section.left-section.flex button:hover {
    opacity: 1;
    font-weight: bold;
    color: #FFF;
}
main section.left-section.flex button:active {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--blue);
}




/* ===============================
   2. Right Section ==> Card
================================== */










/* =====================================
  3- Responsive Design (media query)
======================================== */