
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
}

html {box-sizing: border-box;} 

*, *:before, *:after {box-sizing: inherit;}  

:root {
  --primary: #000;
}

.light {
  --primary: #FFF;
  --secoundry: #18181B;
  --border: rgba(63, 63, 70, 0.4);
}


body {
  background-color: #000;
  color: #FFF;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin: auto;
  background-color: var(--secoundry);
}

.line {
  border: 2px solid var(--border);
  margin: 3rem 0;
}